<div class="content">
    <div class="slider single-item">
        <div><img src="http://pic.prepics-cdn.com/stylish087/24433021.jpeg"/></div>
        <div><img src="http://pic.prepics-cdn.com/stylish087/24433021.jpeg"/></div>
        <div><img src="http://pic.prepics-cdn.com/stylish087/24433021.jpeg"/></div>
        <div><img src="http://pic.prepics-cdn.com/stylish087/24433021.jpeg"/></div>
        <div><img src="http://pic.prepics-cdn.com/stylish087/24433021.jpeg"/></div>
        <div><img src="http://pic.prepics-cdn.com/stylish087/24433021.jpeg"/></div>
    </div>
</div>

<script>
$(function() {
  $('.single-item').slick();
});
</script>