<div class="category-wrapp">
  <div class="search-label">
    <p>中古車を探す</p>
  </div>
  <div class="search-area">
    <div class="search-top-area">
      <div class="search-form">
        <div class="search-form-top">
          <p>条件から検索</p>
        </div>
        <div class="search-form-bottom">
          <p>フリーワードで検索</p>
        </div>
      </div>
      <div class="search-maker">
        <p>メーカーから検索</p>
      </div>
    </div>
    <div class="search-bottom-area">
      <p>ボディタイプから検索</p>
    </div>
  </div>
</div>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>